Repository YashDhavale/CSC-510-SE-Project: changes, and which Codecov flags are due for each by the changed paths.
All: python, frontend, backend

Embedded demo video to readme
  Proj2/README.md
Due: none

Delete Proj2/README.md
  Proj2/README.md
Due: none

Embedded demo video to readme
  README.md
Due: none

Implement Issue #33: Add test cases for integration of rescue meals
  Proj2/tests/test_efficiency_scoring.py
  Proj2/tests/test_leaderboard_api.py
  Proj2/tests/test_rescue_meals_integration.py
Due: none

Add technology badges to README
  README.md
Due: none

Added footer with links to repo, documentation and email
  Proj2/src/frontend/src/components/Footer.jsx
Due: python, frontend

Updated app.jsx
  Proj2/src/frontend/src/App.jsx
Due: python, frontend

Delete Proj2/SE_Proj2_Documentation - 2.pdf
  Proj2/SE_Proj2_Documentation - 2.pdf
Due: none

Add files via upload
  Proj2/SE_Proj2_Documentation - 3.pdf
Due: none

Fixed tests that failed to generate responses
  Proj2/src/api/app.py
  Proj2/src/backend/server.js
  Proj2/tests/backend/test_cart_routes.js
  Proj2/tests/backend/test_dashboard_routes.js
  Proj2/tests/backend/test_home_routes.js
Due: python, backend

Remove excess files
  Proj2/test.txt
Due: none

Add ESLint configuration file .eslintrc.json
  .eslintrc.json
Due: none

Add badges for code style and linting tools
  README.md
Due: none

Add configuration for Black, Coverage, and isort
  pyproject.toml
Due: none

Add .flake8 configuration file
  .flake8
Due: none

Add Prettier configuration file
  .prettierrc
Due: none

Add linting and formatting workflow for Python and JS
  .github/workflows/lint.yml
Due: none

Fix duplicate badges and add coverage and CodeQL
  README.md
Due: none

Add Codecov upload step in coverage workflow
  .github/workflows/coverage.yml
Due: none

Change npm ci to npm install for dependencies
  .github/workflows/coverage.yml
Due: none

Remove code coverage badge from README
  README.md
Due: none

Install pandas and numpy in coverage workflow
  .github/workflows/coverage.yml
Due: none

#7: Removing secrets
  Proj2/src/backend/secrets/users.js
Due: python, backend

Update last commit badge link to main branch
  README.md
Due: none

Update Contributor Covenant link to main branch
  README.md
Due: none

login bug fixed
  .eslintrc.json
  Proj2/src/backend/package-lock.json
  Proj2/src/backend/secrets/users.js
  Proj2/src/backend/server.js
  Proj2/src/frontend/package-lock.json
  Proj2/src/frontend/src/components/CustomerLogin.jsx
Due: python, frontend, backend

make it work
  .eslintrc.json
  Proj2/src/backend/routes/home.js
  Proj2/src/frontend/src/components/Dashboard.jsx
  Proj2/src/frontend/src/components/Home.jsx
Due: python, frontend, backend

add logout button
  Proj2/src/frontend/src/App.jsx
  Proj2/src/frontend/src/components/Cart.jsx
  Proj2/src/frontend/src/components/CustomerLogin.jsx
  Proj2/src/frontend/src/components/Dashboard.jsx
  Proj2/src/frontend/src/components/Home.jsx
  README.md
Due: python, frontend

improving UI, user experience
  Proj2/src/backend/data/orders.json
  Proj2/src/backend/data/restaurant_points.json
  Proj2/src/backend/routes/cart.js
  Proj2/src/backend/routes/dashboard.js
  Proj2/src/frontend/src/components/Cart.jsx
  Proj2/src/frontend/src/components/Dashboard.jsx
  Proj2/src/frontend/src/components/Footer.jsx
Due: python, frontend, backend

Add past orders
  Proj2/src/backend/data/orders.json
  Proj2/src/backend/data/restaurant_points.json
  Proj2/src/frontend/src/components/Dashboard.jsx
  Proj2/src/frontend/src/components/RestaurantDetail.jsx
  Proj2/src/frontend/src/data/staticdata.js
Due: python, frontend, backend

basic testing all passed
  Proj2/src/frontend/coverage/clover.xml
  Proj2/src/frontend/coverage/coverage-final.json
  Proj2/src/frontend/coverage/lcov-report/base.css
  Proj2/src/frontend/coverage/lcov-report/block-navigation.js
  Proj2/src/frontend/coverage/lcov-report/favicon.png
  Proj2/src/frontend/coverage/lcov-report/index.html
  Proj2/src/frontend/coverage/lcov-report/prettify.css
  Proj2/src/frontend/coverage/lcov-report/prettify.js
  Proj2/src/frontend/coverage/lcov-report/sort-arrow-sprite.png
  Proj2/src/frontend/coverage/lcov-report/sorter.js
  Proj2/src/frontend/coverage/lcov-report/src/App.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/Cart.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/CustomerLogin.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/Dashboard.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/Footer.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/Home.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/ImpactCard.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/LeaderboardPanel.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/LoginChoice.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/Navbar.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/RestaurantCard.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/RestaurantDetail.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/index.html
  Proj2/src/frontend/coverage/lcov-report/src/data/index.html
  Proj2/src/frontend/coverage/lcov-report/src/data/staticdata.js.html
  Proj2/src/frontend/coverage/lcov-report/src/index.html
  Proj2/src/frontend/coverage/lcov.info
  Proj2/src/frontend/src/__tests__/App.test.jsx
  Proj2/src/frontend/src/__tests__/Cart.test.jsx
  Proj2/src/frontend/src/__tests__/CustomerLogin.test.jsx
  Proj2/src/frontend/src/__tests__/Dashboard.test.jsx
  Proj2/src/frontend/src/__tests__/Home.test.jsx
  Proj2/src/frontend/src/__tests__/ImpactCard.test.jsx
  Proj2/src/frontend/src/__tests__/LeaderboardPanel.test.jsx
  Proj2/src/frontend/src/__tests__/Navbar.test.jsx
  Proj2/src/frontend/src/__tests__/RestaurantCard.test.jsx
Due: python, frontend

frontend testing check
  Proj2/src/frontend/coverage/clover.xml
  Proj2/src/frontend/coverage/coverage-final.json
  Proj2/src/frontend/coverage/lcov-report/index.html
  Proj2/src/frontend/coverage/lcov-report/src/App.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/Cart.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/CustomerLogin.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/Dashboard.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/Footer.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/Home.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/ImpactCard.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/LeaderboardPanel.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/LoginChoice.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/Navbar.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/RestaurantCard.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/RestaurantDetail.jsx.html
  Proj2/src/frontend/coverage/lcov-report/src/components/index.html
  Proj2/src/frontend/coverage/lcov-report/src/data/index.html
  Proj2/src/frontend/coverage/lcov-report/src/data/staticdata.js.html
  Proj2/src/frontend/coverage/lcov-report/src/index.html
  Proj2/src/frontend/coverage/lcov.info
  Proj2/src/frontend/src/__tests__/App.test.jsx
  Proj2/src/frontend/src/__tests__/Cart.test.jsx
  Proj2/src/frontend/src/__tests__/Dashboard.test.jsx
  Proj2/src/frontend/src/__tests__/LoginChoice.test.jsx
  Proj2/src/frontend/src/__tests__/RestaurantDetail.test.jsx
Due: python, frontend

Make remaining num of dishes an actual number, can't buy if sold out.
  Proj2/src/backend/data/orders.json
  Proj2/src/backend/data/restaurant_points.json
  Proj2/src/backend/routes/cart.js
  Proj2/src/backend/routes/dashboard.js
  Proj2/src/frontend/src/components/Dashboard.jsx
  Proj2/src/frontend/src/components/RestaurantDetail.jsx
  Proj2/tests/backend/test_server_saveUsers_error.js
Due: python, frontend, backend

the buttons won't work if the amount reach the limit.
  Proj2/src/backend/data/orders.json
  Proj2/src/backend/routes/cart.js
  Proj2/src/backend/routes/dashboard.js
  Proj2/src/frontend/src/components/Cart.jsx
  Proj2/src/frontend/src/components/Dashboard.jsx
  Proj2/src/frontend/src/components/RestaurantDetail.jsx
Due: python, frontend, backend

small bugs fixed
  Proj2/src/backend/data/orders.json
  Proj2/src/frontend/src/components/Dashboard.jsx
  Proj2/src/frontend/src/components/RestaurantDetail.jsx
Due: python, frontend, backend

add real user data
  Proj2/src/backend/data/orders.json
  Proj2/src/backend/routes/cart.js
  Proj2/src/backend/routes/dashboard.js
  Proj2/src/frontend/src/components/Cart.jsx
  Proj2/src/frontend/src/components/Dashboard.jsx
  Proj2/src/frontend/src/components/RestaurantDetail.jsx
Due: python, frontend, backend

fixed bug that the button of placing order direct to empty page
  Proj2/src/backend/data/orders.json
  Proj2/src/frontend/src/components/Cart.jsx
  Proj2/src/frontend/src/components/Dashboard.jsx
Due: python, frontend, backend

tiny bug fixed - directing bug
  Proj2/src/backend/data/orders.json
  Proj2/src/frontend/src/components/Dashboard.jsx
Due: python, frontend, backend

frontend meal number <-> backend data
  Proj2/src/backend/data/inventory.json
  Proj2/src/backend/data/orders.json
  Proj2/src/backend/routes/cart.js
  Proj2/src/backend/routes/dashboard.js
  Proj2/src/frontend/src/components/Dashboard.jsx
  Proj2/src/frontend/src/components/RestaurantDetail.jsx
Due: python, frontend, backend

Path conditions:
  python: any of: Proj2/src/
  frontend: any of: Proj2/src/frontend/src/
  backend: any of: Proj2/src/backend/
