Repository YashDhavale/CSC-510-SE-Project: changes, and which Codecov flags are due for each by the changed paths.
All: python, frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 1%
    patch:
      default:
        target: 70%
        threshold: 1%

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false

flags:
  python:
    paths:
      - Proj2/src/
    carryforward: true
  frontend:
    paths:
      - Proj2/src/frontend/src/
    carryforward: true
  backend:
    paths:
      - Proj2/src/backend/
    carryforward: true

improve self record system
  Proj2/src/backend/data/inventory.json
  Proj2/src/backend/data/orders.json
  Proj2/src/frontend/src/components/Dashboard.jsx
Due: python, frontend, backend

make the toast show the order details
  Proj2/src/frontend/src/components/Dashboard.jsx
Due: python, frontend

the order of restaurants in browse page
  Proj2/src/frontend/src/components/Dashboard.jsx
Due: python, frontend

history orders
  Proj2/src/backend/data/inventory.json
  Proj2/src/backend/data/orders.json
  Proj2/src/frontend/src/components/Cart.jsx
  Proj2/src/frontend/src/components/Dashboard.jsx
Due: python, frontend, backend

link frontend to backend exact number
  Proj2/src/backend/data/inventory.json
  Proj2/src/backend/data/orders.json
  Proj2/src/backend/routes/cart.js
  Proj2/src/frontend/src/components/Cart.jsx
  Proj2/src/frontend/src/components/Dashboard.jsx
Due: python, frontend, backend

display error fixed
  Proj2/src/frontend/src/components/Dashboard.jsx
Due: python, frontend

add restaurant mode
  Proj2/data/rescue_meals.csv
  Proj2/src/backend/data/inventory.json
  Proj2/src/backend/routes/restaurant.js
  Proj2/src/backend/secrets/users.js
  Proj2/src/backend/server.js
  Proj2/src/frontend/src/App.jsx
  Proj2/src/frontend/src/components/LoginChoice.jsx
  Proj2/src/frontend/src/components/RestaurantDashboard.jsx
  Proj2/src/frontend/src/components/RestaurantLogin.jsx
Due: python, frontend, backend

update restaurants' login data
  Proj2/src/backend/secrets/users.js
Due: python, backend

add ordered history on restaurant side
  Proj2/src/backend/data/inventory.json
  Proj2/src/backend/data/orders.json
  Proj2/src/backend/routes/cart.js
  Proj2/src/backend/routes/dashboard.js
  Proj2/src/backend/routes/restaurant.js
  Proj2/src/frontend/src/components/Cart.jsx
  Proj2/src/frontend/src/components/Dashboard.jsx
  Proj2/src/frontend/src/components/RestaurantDashboard.jsx
Due: python, frontend, backend

Synchronous updates of restaurant side and customer side
  Proj2/src/backend/data/inventory.json
  Proj2/src/backend/data/orders.json
  Proj2/src/backend/routes/restaurant.js
  Proj2/src/frontend/src/components/RestaurantDashboard.jsx
Due: python, frontend, backend

Added leaderboard metrics to dashboard community endpoint
  Proj2/src/backend/routes/dashboard.js
  Proj2/src/frontend/src/components/Dashboard.jsx
Due: python, frontend, backend

Fixed front end community tab display
  Proj2/src/frontend/src/components/Dashboard.jsx
Due: python, frontend

Added more stats to community view
  Proj2/src/frontend/src/components/Dashboard.jsx
Due: python, frontend

Added podium section to community view
  Proj2/src/backend/routes/dashboard.js
  Proj2/src/frontend/src/components/Dashboard.jsx
  Proj2/src/frontend/src/components/Podium.jsx
Due: python, frontend, backend

Changed community endpoint to return usernames instead of emails
  Proj2/src/backend/data/orders.json
  Proj2/src/backend/routes/dashboard.js
  Proj2/src/backend/secrets/users.js
Due: python, backend

Added scores to community podium
  Proj2/src/backend/routes/dashboard.js
  Proj2/src/frontend/src/components/Dashboard.jsx
  Proj2/src/frontend/src/components/Podium.jsx
Due: python, frontend, backend

Fixed community goals target
  Proj2/src/frontend/src/components/Dashboard.jsx
Due: python, frontend

Add backend review routes and wire them into server.js
  Proj2/src/backend/data/inventory.json
  Proj2/src/backend/data/orders.json
  Proj2/src/backend/data/reviews.json
  Proj2/src/backend/routes/reviews.js
  Proj2/src/backend/server.js
Due: python, backend

review services + basic review UI
  Proj2/src/frontend/src/components/RestaurantDetail.jsx
  Proj2/src/frontend/src/services/reviews.js
Due: python, frontend

added final styled reviews UI to RestaurantDetail page
  Proj2/src/frontend/src/components/RestaurantDetail.jsx
Due: python, frontend

added restaurant detail navigation and review UI
  Proj2/src/frontend/src/components/Dashboard.jsx
  Proj2/src/frontend/src/components/RestaurantDetail.jsx
Due: python, frontend

payment method
  Proj2/src/backend/data/inventory.json
  Proj2/src/backend/data/orders.json
  Proj2/src/frontend/src/components/Cart.jsx
Due: python, frontend, backend

progress bar
  Proj2/src/backend/data/inventory.json
  Proj2/src/backend/data/orders.json
  Proj2/src/frontend/src/components/Cart.jsx
Due: python, frontend, backend

optimization
  Proj2/src/frontend/src/components/Cart.jsx
Due: python, frontend

card payment
  Proj2/data/rescue_meals.csv
  Proj2/src/backend/data/inventory.json
  Proj2/src/backend/data/orders.json
  Proj2/src/frontend/src/components/Cart.jsx
Due: python, frontend, backend

increased dish sizes
  Proj2/src/backend/data/inventory.json
  Proj2/src/backend/data/orders.json
Due: python, backend

Remove project title from README
  README.md
Due: none
